{% extends "template.html" %}

{% block body %}

<div class="col-lg-7">
<h1>Contact the team</h1>

<p>Depending on the questions you might have we ask you to contact different
people. For any shelter medecine questions you can contact
<a href="https://www.sheltermedicine.com/about/our-personnel/jyothi-robertson-dvm/" target="_blank">Dr. Robertson</a>.
For technical questions about the site you can ask <a href="https://www.linkedin.com/in/rossmauck" target="_blank">Ross Mauck</a>,
or <a href="https://github.com/mauckc" target="_blank">on GitHub</a>
</p>
</div>

{% endblock %}
