{% extends "template.html" %}

{% block body %}

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/scroller/1.4.3/js/dataTables.scroller.min.js "></script>

<script type="text/javascript">
  $(document).ready(function() {
    var data = [];
    {% for row in rows %}
        data.push([
          unescape('<a target="_blank" href="/animal_id/{{ row['animal_id'] }}"><b>{{ row['animal_id'] }}</b></a>'),
          "{{ row['impound_no']}}",
          "{{ row['animal_type'] }}",
          "{{ row['intake_type'] }}",
          // "{{ row['intake_subtype'] }}",
          "{{ row['intake_cond'] }}",
          "{{ row['outcome_type'] }}",
          "{{ row['outcome_subtype'] }}",
          "{{ row['outcome_cond']}}",
          "{{ row['kennel_no']}}",
          parseFloat("{{ row['weight'] }}"),
          "{{ row['los']}}",
          "{{ row['days_old']}}"
          ]);
    {% endfor %}

    $('#sc-table').DataTable({
      data: data,
      deferRender: true,
      scrollX: true,
      scrollY: 500,
      scrollCollapse: true,
      scroller: true,
      order: [[ 0, "desc" ]]
    });
  });
</script>

{% if show_intake %}
  {% if plot != None %}
    <div class="wrapper">
      <div class="plot">
        {{ plot|safe }}
      </div>
    </div>
  {% endif %}
{% endif %}
<hr>
<table id="sc-table" class="table table-hover table-responsive">
  <thead>
    <tr>
      <th><label title="animal id">Animal ID</label></th>
      <th><label title="impound no">Impound No.</label></th>
      <th><label title="animal type">Animal Type</label></th>
      <th><label title="intake type">Intake Type</label></th>
      <!-- <th><label title="intake subtype">Intake Subtype</label></th> -->
      <th><label title="intake condition">Intake Condition</label></th>
      <th><label title="outcome type">Outcome Type</label></th>
      <th><label title="outcome subtype">Outcome Subtype</label></th>
      <th><label title="outcome condition">Outcome Condition</label></th>
      <th><label title="kennel number">Kennel No.</label></th>
      <th><label title="weight">Intake Weight</label></th>
      <th><label title="los">Length of Stay</label></th>
      <th><label title="days_old">Days Old</label></th>
    </tr>
  </thead>
</table>

<h1> {{ info[0]['animal_id'] }} </h1>

<div class="col-lg-3">
  <h2>Animal information</h2>
  <h3>General info</h3>
  <h3 style="color:#9d63db">Animal ID Number: {{ info[0]['animal_id'] }}</h3>
  <h3 style="color:#d85fc1">Animal Type Date: {{ info[0]['animal_type'] }}</h3>
  <h3 style="color:#9d63db">Primary Breed: {{ info[0]['primary_bree'] }}</h3>
  <h3 style="color:#d85fc1">Secondary Breed: {{ info[0]['secondary_'] }} </h3>
</div>

<div class="col-lg-5">
  {% if show_intake %}
  <h1>  </h1>
    <h1>Intake Record</h1>
    <br>
    {% for intake in info %}
    <h2>Intake information</h2>
    <a style="color:#9d63db">Impound Number: {{ intake['impound_no'] }}</a><br>
    <a style="color:#d85fc1">Intake Date: {{ intake['datetime'] }}</a><br>
    <a style="color:#d85fc1">Intake Date: {{ intake['datetime'] }}</a><br>
    <a style="color:#e562b2">Intake Type: {{ intake['intake_type'] }} </a><br>
    <!-- <a style="color:#e7658d">Intake Subtype: {{ intake['intake_subtype'] }} </a><br> -->
    <a style="color:#9d63db">Intake Condition: {{ intake['intake_condition'] }}</a><br><br>

    <h2>Outcome informations</h2>
    <a style="color:#d85fc1">Outcome Date: {{ intake['outcome_datetime'] }}</a><br>
    <a style="color:#e562b2">Outcome Type: {{ intake['outcome_type'] }} </a><br>
    <a style="color:#e7658d">Outcome Subtype: {{ intake['outcome_subtype'] }}</a><br>
    <a style="color:#d85fc1">Outcome Condition: {{ intake['outcome_condition'] }} </a><br><br>
    <a style="color:#e562b2">Gender: {{ intake['sex'] }} </a><br>

    <h2>Derived parameters</h2>
    <a style="color:#d85fc1">Days Old at Intake: {{ intake['days_old'] }}</a><br>
    <a style="color:#d85fc1">Animal Type Date: {{ intake['animal_type'] }}</a><br>
    <a style="color:#e562b2">Length of Stay: {{ intake['los'] }} </a><br>
    <br>
    <br>
    {% endfor %}
  {% endif %}
</div>



{% endblock %}
