{% extends "template.html" %}

{% block body %}

{% if show_intake %}
  {% if plot != None %}
    <div class="wrapper">
      <div class="plot">
        {{ plot|safe }}
      </div>
    </div>
  {% endif %}
{% endif %}

<h1> {{ info[0]['animal_id'] }} </h1>
<div class="col-lg-6">
  <h2>Animal information</h2>
  <h3>General info</h3>
  <p>Animal ID: {{ info[0]['intake_date'] }}</p>
  <p>Animal Type: {{ info[0]['animal_type'] }}</p> </p>
</div>


<div class="col-lg-5">
  {% if show_intake %}
    <h2>Intake information</h2>

    {% for intake in info %}

      <h2>Animal information</h2>
      <h3>General info</h3>

      <h4>Intake info</h4>
      <p>Impound Number: {{ intake['impound_no'] }}</p>
      <p>Intake Date: {{ intake['intake_date'] }}</p>
      <p>Intake Type: {{ intake['intake_type'] }}</p>
      <p>Intake Subtype: {{ intake['intake_subtype'] }} </p>
      <p>Intake Condition: {{ intake['intake_condition'] }} </p>

      <h4>Outcome info</h4>
      <p>Outcome Date: {{ intake['outcome_date'] }}</p>
      <p>Outcome Type: {{ intake['outcome_type'] }}</p>
      <p>Outcome Subtype: {{ intake['outcome_subtype'] }} </p>
      <p>Outcome Condition: {{ intake['outcome_condition'] }} </p>
      <p>Gender: {{ intake['sex'] }}days</p>

      <h3>Derived parameters</h3>
      <p>LOS: {{ intake['los'] }}days</p>
      <p>Days Old: {{ intake['days_old'] }}days</p>
    {% endfor %}
  {% endif %}


</div>



{% endblock %}
