{% extends "template.html" %}

{% block body %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/scroller/1.4.3/js/dataTables.scroller.min.js "></script>

<script type="text/javascript">
  $(document).ready(function() {
    var data = [];
    {% for row in rows %}
        data.push([
          "{{ row['animal_id'] }}",
          "{{ row['animal_type'] }}",
          "{{ row['intake_type'] }}",
          "{{ row['intake_subtype'] }}",
          "{{ row['intake_cond'] }}",
          "{{ row['outcome_type'] }}",
          "{{ row['outcome_subtype']|safe }}",
          "{{ row['outcome_cond']}}",
          "{{ row['kennel_no']}}",
          parseFloat("{{ row['weight'] }}")]);
    {% endfor %}

    $('#sc-table').DataTable({
      data: data,
      deferRender: true,
      scrollX: true,
      scrollY: 500,
      scrollCollapse: true,
      scroller: true,
      order: [[ 0, "desc" ]]
    });
  });
</script>


  <h1>Hadibah</h1>

  <p>Bringing <a href="https://www.astro.up.pt/resources/sweet-cat/">SWEET-Cat</a> to new actual animal sweets!</p>

  <p>A detailed description of each field can be found <a href="{{ url_for('static', filename='table.pdf') }}">here</a>,
  or by hovering your mouse over each column name.</p>

  <p>Downdload the table in the following formats:
  <a class="btn btn-info" href="download/animals.tsv">TSV</a>
  <a class="btn btn-info" href="download/animals.csv">CSV</a>
  <a class="btn btn-info" href="download/animals.hdf">HDF</a>
  </p>

  <p>Filter by Intake Type:
  <a class="btn btn-info" href="home">Home</a>
  <form>
    <input type="button" value="Go back!" onclick="history.back()">
  </form>
  </p>

  <hr>
  <table id="sc-table" class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Animal ID</th>
        <th><label title="animal type">animal_type</label></th>
        <th><label title="intake type">intake_type</label></th>
        <th><label title="intake subtype">intake_subtype</label></th>
        <th><label title="intake condition">intake_cond</label></th>
        <th><label title="outcome type">outcome_type</label></th>
        <th><label title="outcome subtype">outcome_subtype</label></th>
        <th><label title="outcome condition">outcome_cond</label></th>
        <th><label title="kennel number">kennel_no</label></th>
        <th><label title="weight">weight</label></th>
      </tr>
    </thead>
  </table>

{% endblock %}
