{% extends "template.html" %}

{% block body %}

<div class="col-lg-3">
  <h3> choose custom filter: </h3>
  <div class="input-group mb-2">
    <form action="{{ url_for('inventory_plot_filter') }}">
      <input type="text" class="form-control" placeholder="i.e. animal_type" name="field" aria-label="field" aria-describedby="basic-addon1"><br>
      <input type="text" class="form-control" placeholder="i.e. CAT" name="value" aria-label="value" aria-describedby="basic-addon2"><br>
      <button class="btn btn-info btn-sm" type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="col-lg-9">
  <h1>Actual Daily Animal Counts</h1>

  <p> Filter by Animal Type:
    <a class="btn btn-info btn-sm" href="{{ url_for('inventory_plot_filter', field='species',value='Cat') }}">Cats</a>
    <a class="btn btn-info btn-sm" href="{{ url_for('inventory_plot_filter', field='species',value='Dog') }}">Dogs</a>
    <!-- <a class="btn btn-info btn-sm" href="{{ url_for('inventory_plot_filter', field='species',value='Kitten') }}">Kittens</a>
    <a class="btn btn-info btn-sm" href="{{ url_for('inventory_plot_filter', field='species',value='Puppy') }}">Puppies</a> -->
  </p>

  <p> Filter by Outcome Type:
    <a class="btn btn-success btn-sm" href="{{ url_for('inventory_plot_filter', field='outcome_type',value='Adoption') }}">Adoption</a>
    <a class="btn btn-success btn-sm" href="{{ url_for('inventory_plot_filter', field='outcome_type',value='Return To Owner') }}">Return to Owner</a>
    <a class="btn btn-success btn-sm" href="{{ url_for('inventory_plot_filter', field='outcome_type',value='Euthanasia') }}">Euthanasia</a>
    <a class="btn btn-success btn-sm" href="{{ url_for('inventory_plot_filter', field='outcome_type',value='Transfer') }}">Transfer</a>
  </p>
  <hr>
  {{ plot|safe }}
</div>

{% endblock %}
